<!doctype html>
    <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>出错信息</title>
        <meta name="description" content="这是一个出错页面">
        <meta name="keywords" content="help">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <link rel="stylesheet" href="../css/default.css"/>
    </head>
    <body>

    <style>
        .error_display{
            display:block;
            padding:20px;
            font-size:16px;
            color:#000;
            font-weight: bold;
        }
    </style>
    <div class="error_display">
        <div><%=error%></div>
        <div>Message: <%=message%></div>
    </div>
</body>
</html>
