<div class="online_talk_box">
	<div class="online_talk_content">
		<div class="title">
			<span class="current_room">default</span>
		</div>
		<div class="online_talk_message">
			
		</div>
		<textarea class="online_talk_input"></textarea>
	</div>
	<ul class="online_talk_room_ul">
		<p class="title">当前房间</p>
		<div class="online_talk_room_content">

		</div>
	</ul>
</div>