<form method="post" action="shout_box_register" id="shout_box_register">
	<input type="text" name="username" class="input_item"/>
	<input type="text" name="password" class="input_item"/>
	<div class="input_button_group">
		<input class="submit_button" id="register" value="注册" type="submit"/>
	</div>
</form>