<form method="post" action="shout_box_login" id="shout_box_login">
	<input type="text" name="username" class="input_item"/>
	<input type="text" name="password" class="input_item"/>
	<div class="input_button_group">
		<input class="submit_button" id="login" value="登录" type="submit"/>
		<a class="submit_button" id="register" href="/shout_box_register">注册</a>
	</div>
</form>