<form method="post" action="/register" class="sign_box">
	<div>
		<input type="text" name="username" id="username" placeholder="请输入用户名" class="input_button"/>
		<input type="text" name="password" id="password" placeholder="请输入密码" class="input_button"/>
		<input type="text" name="email" id="email" placeholder="请输入邮箱" class="input_button"/>
		<div class="submit_button_group">
			<input id="login" type="submit" value="注册" class="submit_button all_size"></input>
		</div>
	</div>
</form>