<form method="post" action="/signin" class="sign_box">
	<div>
		<input type="text" name="username" id="username" placeholder="请输入用户名" class="input_button"/>
		<input type="text" name="password" id="password" placeholder="请输入密码" class="input_button"/>
		<div class="submit_button_group">
			<input id="login" type="submit" value="登录" class="submit_button"></input>
			<a href="/register" class="submit_button">注册</a>
		</div>
	</div>
</form>