@keyframes moveRight{
	0%{
		opacity:0;
		transform:translate(-30px,0px);	
	}
	100%{
		opacity:1;
		transform:translate(0px,0px);	
	}
}

@-webkit-keyframes moveRight{
	0%{
		opacity:0;
		-webkit-transform:translate(-30px,0px);	
	}
	100%{
		opacity:1;
		-webkit-transform:translate(0px,0px);	
	}
}
	
@keyframes bounceIn{
	0%{
		transform:scale(0);
		opacity:0;	
	}
	50%{
		transform:scale(1.1);
		opacity:1;	
	}
	100%{
		transform:scale(1);
		opacity:1;	
	}
}

@-webkit-keyframes bounceIn{
	0%{
		-webkit-transform:scale(0);
		opacity:0;	
	}
	50%{
		-webkit-transform:scale(1.1);
		opacity:1;	
	}
	100%{
		-webkit-transform:scale(1);
		opacity:1;	
	}
}